.App {
  //text-align: center;
  //background-color: #995533;
  //height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  //background-color: #222;
  height: 30px;
  margin-left: 25px;
  //padding: 20px;
  color: #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.add-remove-button {
	height: 32px;
	width: 32px;
	min-width: 32px;
	font-size: 24px;
	margin: 5px 0px 0px 0px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	border-radius: 16px;
}

.card-count {
	font-size: 18px;
	width: 40px;
	margin: 5px;
	padding-left: 5px;
}

.card-row {
	display: flex;
	margin: 1px;
}

.container {
    border: 0.5px solid #999;
	//background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 15px;
}

.deck-list {
	margin: 10px;
}

.dynamic-mana-container {
	min-height: 50px;
	margin: 0px 0px 5px 10px;
}

.mana-button {
	cursor: pointer;
	border-radius: 5px;
	//background-color: #995533;
	//border-color: #995533;
}

.mana-cost {
	//margin: 2px;
}

.mana-input-row {
	display: flex;
	max-height: 43px;
	margin: 10px 10px 0px 10px;
}

.text-input {
	margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
